asgiref==3.2.10
click==7.1.2
Django==3.1.1
django-rest-framework==0.1.0
djangorestframework==3.11.1
future==0.18.2
Jinja2==2.11.2
joblib==0.16.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.1.2
mysqlclient==2.0.1
nltk==3.5
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
six==1.15.0
sqlparse==0.3.1
tornado==6.0.4
tqdm==4.49.0
